@charset "utf-8";

body { font: 16px/1 'Pretendard',sans-serif; background-color: #fff; }
h1,h2,h3,h4,h5,h6 { font: 16px/1 'Pretendard',sans-serif; }
input { font-size: 14px; font-family: 'Pretendard',sans-serif; font-weight: 200; outline: 0; transition: border-color .4s; }

#wrap { width:100%; overflow: hidden; }

/* 공용 스타일/////////////////////////////////////////////////////////////////////////// */

.container { width:100%; }

.wrap { width:100%; max-width:1200px; margin:0 auto; }
.wrap .gap { margin:0 15px; }
.wrap .gap .container { width:100%; }

/* ////////////////////////////////////////////////////////////////////////////////// */

#header { z-index: 3; position: fixed; top: 0; left: 0; width: 100%; }

#header .header_row1 { width:100%; text-align: right; padding: 12px 0; background-color: #fff; }
#header.addFixed .header_row1 { display: none; }
.header_row1 ul.aside { width: 100%; }
.header_row1 ul.aside li { display: inline-block; }
.header_row1 ul.aside li a { margin-left: 18px; font-size: 14px; font-weight: 100; color: #444; }
.header_row1 ul.aside li:last-child a { padding: 5px 10px; border-radius: 3px; font-weight: 300; color: #fff; background-color: #243c84; }


#header .header_row2 { width: 100%; background-color: #fff; }
.header_row2 .logo_wrap { float: left; margin: 22px 0; }
.header_row2 .logo_wrap img { width: 100%; max-width: 116px; }

.subBg { display: none; z-index: 1; position:absolute; top:122px; left:0; width:100%; height:195px; background:#fff; border-bottom:2px solid #eee; }
#header.addFixed .header_row2 .subBg { top: 74px; }

.header_row2 nav { float: right; z-index: 2; position: relative; }
.header_row2 nav > ul { width: 100%; }
.header_row2 nav > ul > li { display: inline-block; position: relative; }
.header_row2 nav > ul > li > a.mainBtn { margin-left: 48px; padding: 28px 0; color: #111; border-bottom: 2px solid transparent; transition: all .3s; }
.header_row2 nav > ul > li:hover > a.mainBtn { color: #2a47bf; border-bottom: 2px solid #2a47bf; }

.header_row2 nav > ul > li .sub { display: none; position: absolute; top: 90px; left: 24px; width: 100%; text-align: center; }
.header_row2 nav > ul > li .sub .sub_wrap { width: 100%; }
.header_row2 nav > ul > li .sub .sub_wrap ul { width: 100%; }
.header_row2 nav > ul > li .sub .sub_wrap ul li { display: block; }
.header_row2 nav > ul > li .sub .sub_wrap ul li a { margin: 12px 0; font-size: 14px; color: #111; }

/* #main - start /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#main { z-index: 2; position: relative; width: 100%; margin-top: 122px; }

#section { width: 100%; padding: 4% 0; }
#section .wrap { max-width: 470px; }

#section .title_wrap { text-align: center; padding-bottom: 15px; }
#section .title_wrap h1 { font-size: 38px; font-weight: 400; line-height: 1.2em; }
#section .title_wrap p { margin: 20px 0; font-size: 20px; font-weight: 200; line-height: 1.5em; }


#section .content_wrap { width: 100%; }
#section .content_wrap ul.button_wrap { text-align: center; }
#section .content_wrap ul.button_wrap > li { float: left; width: 50%; }
#section .content_wrap ul.button_wrap > li > div { margin: 40px 0; }
#section .content_wrap ul.button_wrap > li > div a { width: 100%; padding-bottom: 23px; font-size: 18px; color: #111; border-bottom: 1px solid #111; }
#section .content_wrap ul.button_wrap > li:first-child > div a { color: #666; font-weight: 100; border-bottom: 1px solid #ccc; }

#section .content_wrap ul.inputText_wrap > li h2 { display: inline-block; padding-right: 15px; font-weight: 200; background: url(../img/loginImg/icon_necd.svg) no-repeat right top; }
#section .content_wrap ul.inputText_wrap > li .inputBox { position: relative; margin: 10px 0 40px; }
#section .content_wrap ul.inputText_wrap > li .inputBox input[type="text"] { height: 52px; border: 1px solid #eee; border-radius: 10px; font-size: 14px; color: #111; }
#section .content_wrap ul.inputText_wrap > li .inputBox input[type="text"]::placeholder { font-weight: 100; color: #aaa; }
#section .content_wrap ul.inputText_wrap > li .inputBox input[type="text"]:focus { border: 1px solid #111; }
#section .content_wrap ul.inputText_wrap > li .inputBox > a { display: none; position: absolute; top: 0; margin: 16px 0; }
#section .content_wrap ul.inputText_wrap > li .inputBox > a.delBtn { right: 15px; }
#section .content_wrap ul.inputText_wrap > li .inputBox > a img { width: 20px; height: 20px; }
#section .content_wrap ul.inputText_wrap > li .inputBox p { display: none; margin-top: 10px; font-size: 12px; font-weight: 100; color: #ff0000; }

#section .content_wrap ul.inputText_wrap > li .inputBox input[type="text"].addInputWrong { border: 1px solid #ff0000; }
#section .content_wrap ul.inputText_wrap > li .inputBox p.addInputWrong { display: block; }

#section .content_wrap ul.inputText_wrap > li .buttonBox { text-align: center; }
#section .content_wrap ul.inputText_wrap > li .buttonBox a.pwConBtn { width: 100%; padding: 20px 0; border-radius: 5px; font-size: 18px; color: #ccc; background-color: #f8f8f8; transition: all .3s; }
#section .content_wrap ul.inputText_wrap > li .buttonBox a.pwConBtn:hover { color: #fff; background-color: #2A47BF; }
#section .content_wrap ul.inputText_wrap > li .buttonBox a.pwConBtn.addJoinConBtn { color: #fff; background-color: #2A47BF; }

/* #main - end /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#footer { z-index: 1; position: relative; top: 0; left: 0; width: 100%; background-color: #333; }
.footer_row1 { width:100%; padding: 10% 0 16px; border-bottom: 1px solid #464646; }
.footer_row1 .footer_util { float: left; }
.footer_row1 .footer_util li { display: inline-block; line-height: 36px; }
.footer_row1 .footer_util li a { font-size: 14px; font-weight: 200; color: #777; }
.footer_row1 .footer_util li:nth-child(3) a { font-weight: 300; color: #fff; }
.footer_row1 .footer_util li span { font-size: 14px; font-weight: 200; color: #777; }

.footer_row1 .sns_wrap { float: right; }
.footer_row1 .sns_wrap li { display:inline-block; margin-left: 15px; }
.footer_row1 .sns_wrap li a { display:inline-block; }
.footer_row1 .sns_wrap li a img { width: 100%; max-width: 36px; }


.footer_row2 { position: relative; width:100%; padding: 4% 0 10%; }
.footer_row2 .footer_logo { width: 100%; padding-bottom: 30px; }
.footer_row2 .footer_logo img { width: 100%; max-width: 116px; }

.footer_row2 p { font-size: 14px; font-weight: 100; color: #777; line-height: 180%; }

.footer_row2 .ccmImg { z-index: 1; position: absolute;  bottom: 40%; right: 0; width: 72px; }


/* GoTop 버튼 ///////////////////////////////////////////////////////////////////////////////////*/
.goTop { display: none; z-index: 4; position:fixed; bottom:40px; right:40px; }
.goTop a { width:52px; height:52px; border-radius: 100%; background: #111 url(../img/loginImg/icon_top.svg) no-repeat center; }